fastapi
uvicorn
jinja2
python-dotenv
python-multipart  # Add this line for form handling

# LangChain core + integrations
langchain
langchain-google-genai
langchain-huggingface
langchain-community

# Vector store
chromadb

# Embeddings HuggingFace
sentence-transformers
transformers
torch

# Utils
pydantic
